/* @tailwind base; */

.fixed {
  position: fixed;
}

.\!bottom-0 {
  bottom: 0px !important;
}

.\!left-0 {
  left: 0px !important;
}

.\!right-0 {
  right: 0px !important;
}

.z-50 {
  z-index: 50;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-2\.5 {
  margin-bottom: 0.625rem;
}

.mb-\[220px\] {
  margin-bottom: 220px;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-\[10px\] {
  margin-top: 10px;
}

.mt-\[15px\] {
  margin-top: 15px;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.h-2 {
  height: 0.5rem;
}

.h-2\.5 {
  height: 0.625rem;
}

.h-\[55px\] {
  height: 55px;
}

.w-11\/12 {
  width: 91.666667%;
}

.w-12 {
  width: 3rem;
}

.w-32 {
  width: 8rem;
}

.w-\[100px\] {
  width: 100px;
}

.w-\[160px\] {
  width: 160px;
}

.w-\[170px\] {
  width: 170px;
}

.w-\[190px\] {
  width: 190px;
}

.w-\[230px\] {
  width: 230px;
}

.w-\[240px\] {
  width: 240px;
}

.w-\[250px\] {
  width: 250px;
}

.w-\[260px\] {
  width: 260px;
}

.w-\[80px\] {
  width: 80px;
}

.w-full {
  width: 100%;
}

.min-w-\[100px\] {
  min-width: 100px;
}

.scale-105 {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.cursor-pointer {
  cursor: pointer;
}

.resize {
  resize: both;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-\[2px\] {
  gap: 2px;
}

.gap-\[5px\] {
  gap: 5px;
}

.gap-x-3 {
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}

.gap-y-\[10px\] {
  row-gap: 10px;
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.divide-y > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}

.divide-gray-200 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-divide-opacity));
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-sm {
  border-radius: 0.125rem;
}

.border {
  border-width: 1px;
}

.border-\[1px\] {
  border-width: 1px;
}

.border-\[1\.5px\] {
  border-width: 1.5px;
}

.border-\[1\.2px\] {
  border-width: 1.2px;
}

.border-solid {
  border-style: solid;
}

.border-\[black\] {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.border-gray-600 {
  --tw-border-opacity: 1;
  border-color: rgb(75 85 99 / var(--tw-border-opacity));
}

.border-gray-700 {
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity));
}

.border-gray-800 {
  --tw-border-opacity: 1;
  border-color: rgb(31 41 55 / var(--tw-border-opacity));
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}

.bg-gray-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.\!p-0 {
  padding: 0px !important;
}

.\!p-1 {
  padding: 0.25rem !important;
}

.p-\[2px\] {
  padding: 2px;
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.px-\[3px\] {
  padding-left: 3px;
  padding-right: 3px;
}

.px-\[80px\] {
  padding-left: 80px;
  padding-right: 80px;
}

.pt-4 {
  padding-top: 1rem;
}

.text-center {
  text-align: center;
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.boxer {
  display: flex;
  /* flex-direction: column; */
  border: 1px solid black;
  padding: 7px;
  gap: 10px;
}

.boxer-title {
  margin: 0;
}

.pagination-button34 {
  border: 1px solid black;
  padding: 2px 5px;
  cursor: pointer;
}

.genre-select {
  cursor: pointer;
  border: 1px solid black;
  padding: 0 10px;
}

/* :root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #222;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	align-items: center;
	min-height: 100vh;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

img {
	margin-bottom: 1.5rem;
}

img:hover {
	filter: drop-shadow(0 0 2em #673ab8aa);
}

section {
	margin-top: 5rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.5rem;
}

.resource {
	padding: 0.75rem 1.5rem;
	border-radius: 0.5rem;
	text-align: left;
	text-decoration: none;
	color: #222;
	background-color: #f1f1f1;
	border: 1px solid transparent;
}

.resource:hover {
	border: 1px solid #000;
	box-shadow: 0 25px 50px -12px #673ab888;
}

@media (max-width: 639px) {
	#app {
		margin: 2rem;
	}
	section {
		margin-top: 5rem;
		grid-template-columns: 1fr;
		row-gap: 1rem;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #ccc;
		background-color: #1a1a1a;
	}
	.resource {
		color: #ccc;
		background-color: #161616;
	}
	.resource:hover {
		border: 1px solid #bbb;
	}
} */

@media (min-width: 640px) {
  .sm\:mt-\[30px\] {
    margin-top: 30px;
  }

  .sm\:h-\[200px\] {
    height: 200px;
  }

  .sm\:w-11\/12 {
    width: 91.666667%;
  }

  .sm\:w-\[200px\] {
    width: 200px;
  }
}

@media (min-width: 768px) {
  .md\:mb-0 {
    margin-bottom: 0px;
  }

  .md\:mt-\[50px\] {
    margin-top: 50px;
  }

  .md\:inline {
    display: inline;
  }

  .md\:flex {
    display: flex;
  }

  .md\:hidden {
    display: none;
  }

  .md\:h-\[500px\] {
    height: 500px;
  }

  .md\:w-11\/12 {
    width: 91.666667%;
  }

  .md\:w-\[350px\] {
    width: 350px;
  }

  .md\:w-full {
    width: 100%;
  }

  .md\:min-w-\[400px\] {
    min-width: 400px;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:justify-center {
    justify-content: center;
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:gap-0 {
    gap: 0px;
  }

  .md\:gap-2 {
    gap: 0.5rem;
  }

  .md\:gap-5 {
    gap: 1.25rem;
  }

  .md\:p-1 {
    padding: 0.25rem;
  }
}

@media (min-width: 1024px) {
  .lg\:w-8\/12 {
    width: 66.666667%;
  }
}
